.rebar3
_*
.eunit
*.o
*.beam
*.plt
*.swp
*.swo
.erlang.cookie
ebin
log
erl_crash.dump
.rebar
logs
_build
.idea
*.iml
rebar3.crashdump
*~
tags
/priv/service_account.json
/priv/test_service_account.json
/priv/rsa_private.pem
service_account.json
