{erl_opts, [debug_info]}.
{deps, [
    {gun, "1.3.0"},
    {jsone, "1.4.7"},
    {cowboy, "2.6.0"},
    {jose, "1.9.0"}
]}.

{shell, [
    {config, "config/sys.config"},
    {apps, [cowboy, pnsvc]}
]}.

{relx, [{release, {pnsvc, "0.1.0"},
         [{gun, load}, jsone, jose, pnsvc, inets, sasl]},

        {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"},

        {dev_mode, true},
        {include_erts, false},

        {extended_start_script, true}]
}.

{profiles, [{prod, [{relx, [{dev_mode, false},
                            {include_erts, true}]}]
            }]
}.

{ct_opts, [{keep_logs, 1},
           {sys_config, "./config/test.config"}]}.
